[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
slack-bolt = "*"
aws-lambda-powertools = {extras = ["aws-sdk"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
